<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Farid Gulmammadov">
    <meta name="description" content="endirim kampaniya">
    <meta name="keywords" content="foroffer, for offer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>forOffer</title>
    <link rel="icon" type="image/png" href="images/tlogo.png" />
</head>

<body>
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <section class="navbar resetrow">
                    <div class="firstpart">
                        <div id="logo">
                            <img src="images/flogo.png">
                            <p>Xüsusi təkliflər bir arada</p>
                        </div>
                        <div id="searchbar">
                            <input id="search" type="text" name="Search" placeholder="Axtar">
                            <button id="searchbtn">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="secondpart">
                        <div class="mobile">
                            <div class="mobmenu">
                                <button id="mobbtn">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <ul class="mobcategory" id="catblock">
                                    <li>
                                        <p>Kateqoriyalar</p>
                                    </li>
                                    <li class="catlist">
                                        <a href="">avto</a>
                                        <ul class="mobsub">
                                            <li>
                                                <a href="">yeni avto</a>
                                            </li>
                                            <li>
                                                <a href="">işlənmiş avto</a>
                                            </li>
                                            <li>
                                                <a href="">ehtiyat hissə</a>
                                            </li>
                                            <li>
                                                <a href="">avto icarə</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="catlist">
                                        <a href="">ev</a>
                                        <ul class="mobsub" id="subev">
                                            <li>
                                                <a href="">mənzil</a>
                                            </li>
                                            <li>
                                                <a href="">həyət evi</a>
                                            </li>
                                            <li>
                                                <a href="">villa</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="moblanglog">
                                <ul>
                                    <li>
                                        <button class="lanbtn">EN</button>
                                    </li>
                                </ul>
                                <div class="moblogin">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <ul class="mobaccount">
                                    <li>
                                        <a href="">Daxil ol</a>
                                    </li>
                                    <li>
                                        <a href="">Qeydiyyat</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="smallmenu">
                                <button id="minimenu">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <br>
                                <div class="smoblogin">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <ul class="smobaccount">
                                    <li>
                                        <a href="">Daxil ol</a>
                                    </li>
                                    <li>
                                        <a href="">Qeydiyyat</a>
                                    </li>
                                </ul>
                                <button id="slanbtn"><p>EN</p></button>
                            </div>
                        </div>
                        <div class="menu">
                            <ul class="mainmenu">
                                <li class="mainlist">
                                    <i class="fas fa-home"></i>
                                </li>
                                <li class="mainlist">
                                    <button id="cbtn" class="menubtn">Kateqoriyalar</button>
                                    <ul class="category">
                                        <li>
                                            <a href="">avto</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">yeni avto</a>
                                                </li>
                                                <li>
                                                    <a href="">işlənmiş avto</a>
                                                </li>
                                                <li>
                                                    <a href="">ehtiyat hissə</a>
                                                </li>
                                                <li>
                                                    <a href="">avto icarə</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">ev</a>
                                            <ul class="sub" id="subev">
                                                <li>
                                                    <a href="">mənzil</a>
                                                </li>
                                                <li>
                                                    <a href="">həyət evi</a>
                                                </li>
                                                <li>
                                                    <a href="">villa</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">elektronika</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">TV</a>
                                                </li>
                                                <li>
                                                    <a href="">PC komputer</a>
                                                </li>
                                                <li>
                                                    <a href="">notbuk</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">məişət</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">soyuducu</a>
                                                </li>
                                                <li>
                                                    <a href="">paltaryuyan</a>
                                                </li>
                                                <li>
                                                    <a href="">tozsoran</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">əyləncə</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">kino</a>
                                                </li>
                                                <li>
                                                    <a href="">karaoke</a>
                                                </li>
                                                <li>
                                                    <a href="">konsert</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">mebel</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">qonaq</a>
                                                </li>
                                                <li>
                                                    <a href="">yataq</a>
                                                </li>
                                                <li>
                                                    <a href="">mətbəx</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">geyim</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">köynək</a>
                                                </li>
                                                <li>
                                                    <a href="">şalvar</a>
                                                </li>
                                                <li>
                                                    <a href="">papaq</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">kafe</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">salat</a>
                                                </li>
                                                <li>
                                                    <a href="">duru</a>
                                                </li>
                                                <li>
                                                    <a href="">qarışıq</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">qida</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">meyvə-tərəvəz</a>
                                                </li>
                                                <li>
                                                    <a href="">şirniyyat</a>
                                                </li>
                                                <li>
                                                    <a href="">un məmulatı</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">təhsil</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">ingilis dili</a>
                                                </li>
                                                <li>
                                                    <a href="">alman dili</a>
                                                </li>
                                                <li>
                                                    <a href="">ofis</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">tibb</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">kardioloji</a>
                                                </li>
                                                <li>
                                                    <a href="">uroloji</a>
                                                </li>
                                                <li>
                                                    <a href="">neyroloji</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">turizm</a>
                                            <ul class="sub">
                                                <li>
                                                    <a href="">xaricə səyahət</a>
                                                </li>
                                                <li>
                                                    <a href="">bizim otellər</a>
                                                </li>
                                                <li>
                                                    <a href="">bizim turlar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="mainlist">
                                    <button class="menubtn">forOffer</button>
                                </li>
                                <li class="mainlist">
                                    <button class="menubtn">Əlaqə</button>
                                </li>
                            </ul>
                        </div>
                        <div class="langlog">
                            <ul>
                                <li>
                                    <button class="lanbtn">AZ</button>
                                </li>
                                <li>
                                    <button class="lanbtn">EN</button>
                                </li>
                            </ul>
                            <div class="login">
                                <i class="fas fa-user-circle"></i>
                            </div>
                            <ul class="account">
                                <li>
                                    <a href="">Daxil ol</a>
                                </li>
                                <li>
                                    <a href="">Qeydiyyat</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
                <div class="clear"></div>
                <div id="mobsearchbar">
                    <input id="mobsearch" type="text" name="Search" placeholder="Axtar">
                    <button id="mobsearchbtn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--end of navbar-->
        @RenderBody()
        <!--start of footer-->
        <footer class="foot-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="menuinfo">
                        <h6>Bizə yaxın ol</h6>
                        <ul class="footinfo">
                            <li>
                                <a href="">forOffer.net</a>
                            </li>
                            <li>
                                <a href="">Qeydiyyat</a>
                            </li>
                            <li>
                                <a href="">Daxil ol</a>
                            </li>
                            <li>
                                <a href="">Əlaqə</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="menuinfo">
                        <h6>Partnyorluq</h6>
                        <ul class="partners">
                            <li>
                                <a href="">Müraciət</a>
                            </li>
                            <li>
                                <a href="">Daxil ol</a>
                            </li>
                            <li>
                                <a href="">Əməkdaşlıq şərtləri</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="menuinfo">
                        <h6>Foroffer.net</h6>
                        <ul class="about">
                            <li>
                                <a href="">Haqqımızda</a>
                            </li>
                            <li>
                                <a href="">Məxfilik Siyasəti</a>
                            </li>
                            <li>
                                <a href="">ForOffer İnternational</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="menuinfo">
                        <ul class="footinfo">
                            <li class="social">
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="social">
                                <a href="">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </li>
                            <li class="social">
                                <a href="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/script.js"></script>

    @RenderSection("Script", false)
</body>

</html>